@page
@model HungryBirds.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].School)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].YearGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Allergies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allergies)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StudentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
